<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project</title>
</head>
	<body>
		<h1>Tu vas découvrir un nouveau potin !</h1>
		<h2>Voici le potin n° <%= gossip_id %> : </h2>
			<p>
				Son auteur : <%= Gossip.find(gossip_id).author %> <br>
				Le contenu du potin : <%= Gossip.find(gossip_id).content %> 
			</p> 
			<br>
			<a href="/gossips/<%= gossip_id %>/edit">Editer ce potin</a>
			<br><br>
			<a href="/">Revenir à la liste des potins</a>
	</body>
</html>